<div class="section-content home ui segment tall stacked">
<form {{action "save" on="submit"}} class="ui form">
  <div class="field">
    <label>
      Nombre
      {{input type="text" value=model.user.name}}
    </label>
  </div>
  
  <div class="field">
    <label>
      Apellido
      {{input type="text" value=model.user.lastName}}
    </label>
  </div>

  <div class="field">
    <label>
      Email
      {{input type="text" value=model.user.email}}
    </label>
  </div>

  <div class="field">
    <label>
      Contraseña
      {{input type="text" value=model.user.password}}
    </label>
  </div>

  <div class="field">
    <label>
      Roles
      {{multiselect-checkboxes options=model.roleList labelProperty='label' selection=model.user.roles}}      
    </label>
  </div>
  {{#if model.user.isMinisterio}}
   <div class="field">
    <label>
      Ministerios
      {{multiselect-checkboxes options=model.ministryList labelProperty='name' selection=model.user.ministries}}      
    </label>
  </div>
  {{/if}}


  {{#if model.user.isLegislador}}
   <div class="field">
    <label>
      Provincia
      {{model-selector modelName='province' value=model.user.province optionLabelPath="content.name" }}
    </label>
  </div>
   
   <div class="field">
    <label>
      Partido Politico
      {{model-selector modelName='party' value=model.user.party optionLabelPath="content.name" }}
    </label>
  </div>
   
   <div class="field">
    <label>
      Bloque
      {{model-selector modelName='brick' value=model.user.brick optionLabelPath="content.name" }}
    </label>
  </div>

   <div class="field">
    <label>
      Camara
      {{model-selector modelName='camera' value=model.user.camera optionLabelPath="content.name" }}
    </label>
  </div>
  {{/if}}
   
  <div class="field">
    <input type="submit" value="Guardar" class="ui button blue">
  </div>
</form>

</div>