<section>
  <h2 class="ui dividing header -flex" style="margin: 0;">
   Informe N° {{model.report.title}}
   <div class="sub header">Camara de {{model.report.camera.name}}</div>
      {{#if session.user.isLegislador}}
          <div class="actions">{{link-to "Crear pregunta" "questions.new" model.report.id classNames="positive ui tiny fluid button"}}</div>
      {{/if}}   
  </h2>

  {{#if session.user.isAdmin}}
      <div class="search-form ui form" style="background: #f1f1f1; padding: 15px;">


        <div class="three fields">
        <div class="field">
        <label>
          Ministerio
        </label>
          {{model-selector modelName='ministry' value=ministry optionLabelPath="content.name" class="select-item" }}
        </div>
        <div class="field">
        <label>
          Bloque
        </label>
          {{model-selector modelName='brick' value=brick optionLabelPath="content.name" class="select-item"}}
        </div>
        <div class="field">
        <label>
          Legislador
        </label>        
          {{model-selector modelName='user' legislatorFilter=model.report.camera.id value=user optionLabelPath="content.fullName" class="select-item"}}
        </div>

        <div class="field">
          
        <label>
          Tags
        </label>        
          {{model-selector modelName='tag' value=tag optionLabelPath="content.name" class="select-item"}}
        </div>

        <div class="field">
        <label for="">&nbsp;</label>
        <a {{action 'search'}} class="action ui  blue button">
          {{fa-icon "search"}} Buscar
        </a>
        </div>

        </div>

        
    </div>  
<div class="ui divider" style="margin-top: 0;"></div>

  {{/if}}
  <div class="section-content home ui segment tall stacked">
  {{#if model.questions}}
    <div class="ui divided items ">
    {{#each question in model.questions}}
    	<div class="item">
      <div class="content">
        <h4 class="header">{{question.title}}</h4>
        <div class="meta">
          <a href="">{{question.author.fullName}}</a>
        	
        </div>
        <div class="description">
          <p>{{{question.text}}}</p>
        </div>
        <div class="actions" style="margin-top: 15px;">
        	{{#if question.ministry }}
          <div class="ui label teal">{{fa-icon 'bank' class="icon"}} Ministerio de {{question.ministry.name}}</div>
          {{else}}
          <div class="ui label">{{fa-icon 'bank' class="icon"}} Ministerio no asignado</div>
          {{/if}}

          {{#if question.author.brick }}

          <div class="ui green label" style="margin-top: 8px;margin-left: 0;">Bloque {{question.author.brick.name}}</div>
          {{else}}
          <div class="ui label" style="margin-top: 8px;margin-left: 0;">{{fa-icon 'bank' class="icon"}} Bloque no asignado</div>
          {{/if}}
        </div>
        <div class="extra">
          {{#if session.user.isLegislador}}
            {{#link-to "questions.show" model.report.id question.id classNames="ui blue label"}}
    	        Ver pregunta completa
    	      {{/link-to}}
          {{else}}
            {{#link-to "answers" model.report.id question.id classNames="ui blue label"}}
              Ver pregunta completa
            {{/link-to}}   
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
    {{infinity-loader infinityModel=model}}
    </div>
  {{else}}
    <h2 class="ui center aligned icon header" style="width: 100%; padding: 1em; opacity: 0.3;">
      <i class="circular announcement icon"></i>
      No hay preguntas cargadas
    </h2>
  {{/if}}
  </div>

</section>


