<section>
  <h2 class="ui dividing header -flex">
   Informe N° {{model.report.title}}
   <div class="sub header">Camara de {{model.report.camera.name}}</div>
    <div class="actions">{{link-to "Crear pregunta" "questions.new" model.report.id classNames="positive ui tiny fluid button"}}</div>
  </h2>

  <div class="section-content home ui segment tall stacked">
  {{#if model.questions}}
    <div class="ui divided items ">
    {{#each question in model.questions}}
    	<div class="item">
      <div class="content">
        <h4 class="header">{{question.title}}</h4>
        <div class="meta">
          <a href="">{{question.author.fullName}}</a>
        	
        </div>
        <div class="description">
          <p>{{{question.text}}}</p>
        </div>
        <div class="actions" style="margin-top: 15px;">
        	<div class="ui label">{{fa-icon 'bank' class="icon"}} Ministerio de {{question.ministry.name}}</div>
          <div class="ui label">Bloque {{question.author.brick.name}}</div>

          
        </div>
        <div class="extra">
          {{#link-to "questions.show" model.report.id question.id classNames="ui blue label"}}
  	        Ver pregunta completa
  	      {{/link-to}}
        </div>
      </div>
    </div>
    {{/each}}
    </div>
  {{else}}
    <h2 class="ui center aligned icon header" style="width: 100%; padding: 1em; opacity: 0.3;">
      <i class="circular announcement icon"></i>
      No hay preguntas cargadas
    </h2>
  {{/if}}
  </div>

</section>


