<div class="section-content home ui segment tall stacked">
 	<div class="actions" style="padding: 1em; text-align: center;">
	  	<button class="ui button orange tiny"><i class="alarm icon"></i> Asignar a Ministerio</button>
  		<button class="ui button blue tiny"><i class="reply icon"></i> Responder</button>
  		<button class="ui button green tiny"><i class="flag icon"></i> Aprobar</button>
  		<button class="ui button yellow tiny"><i class="plus icon"></i> Agregar nueva respuesta</button>
  	</div>

	<h4 class="ui horizontal divider header" style="padding: 0; font-size: 19px; margin-top: 15px;">
	  {{fa-icon 'bank'}} <span style="margin-left: 15px;"> {{model.author.brick.name}}</span>
	</h4>

	<h2 class="ui center aligned icon header" style="padding: 0;line-height: 36px;padding: 0 3em;">
	  <div class="content">
	    {{model.title}}
	    <div class="sub header"> <i>{{model.author.fullName}}</i> </div>
	  </div>
	</h2>

    <p style="font-size: 17px; padding: 1em;">{{{model.text}}}</p>

</div>

