<div class="section-content home ui segment tall stacked">
  <div class="actions" style="padding: 1em; text-align: center;">

      {{#if session.user.isAdmin}}
        {{#unless model.question.ministry}}
          {{#link-to 'questions.assign' model.question.report.id model.question.id class="ui button orange tiny"}}
            <i class="alarm icon"></i> Asignar a Ministerio
          {{/link-to}}
        {{else}}
          <button class="ui button yellow tiny"><i class="plus icon"></i> Agregar nueva respuesta</button>
          <button class="ui button green tiny"><i class="flag icon"></i> Aprobar</button>        
        {{/unless}}
      {{/if}}

      {{#if session.user.isMinisterio}}
        {{#link-to 'answers.new' model.question.report.id model.question.id class="ui button blue tiny"}}
          <i class="reply icon"></i> Responder
        {{/link-to}}
      {{/if}}  
    </div>

  <h4 class="ui horizontal divider header" style="padding: 0; font-size: 19px; margin-top: 15px;">
    {{fa-icon 'bank'}} <span style="margin-left: 15px;"> {{model.question.author.brick.name}}</span>
  </h4>

  <h2 class="ui center aligned icon header" style="padding: 0;line-height: 36px;padding: 0 3em;">
    <div class="content">
      {{model.question.title}}
      <div class="sub header"> <i>{{model.question.author.fullName}}</i> </div>
      <div class="sub header"> <i>{{model.question.ministry.name}}</i> </div>
    </div>
  </h2>

    <p style="font-size: 17px; padding: 1em;">{{{model.question.text}}}</p>

</div>

<section>
  <div class="section-content home ui segment tall stacked">
  {{#if model.answers}}
    <div class="ui divided items ">
    {{#each answer in model.answers}}
    	<div class="item">
      <div class="content">
        <div class="meta">
        	<a href="">{{answer.author.fullName}}</a>
        </div>
        <div class="description">
          <p>{{{answer.text}}}</p>
        </div>
        <div class="actions" style="margin-top: 15px;">
        	<div class="ui label">{{fa-icon 'bank' class="icon"}}{{answer.author.brick.name}}</div>
        </div>
        <div class="extra">
          {{#link-to "answers.show" model.question.id answer.id classNames="ui blue label"}}
  	        Ver respuesta completa
  	      {{/link-to}}
        </div>
      </div>
    </div>
    {{/each}}
    </div>
  {{else}}
    <h2 class="ui center aligned icon header" style="width: 100%; padding: 1em; opacity: 0.3;">
      <i class="circular announcement icon"></i>
      No hay respuestas cargadas
    </h2>
  {{/if}}
  </div>

</section>




