<h2 class="ui header dividing -flex">
    Listado de Provincias
    <div class="actions">{{link-to "Crear Provincia" "admin.provinces.new" classNames="ui orange button tiny" }}</div>
</h2>

{{#if model.length}}
 <div class="section-content ">
  <table class="ui celled striped table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
    <tbody>
      {{#each province in model}}
      <tr>
        <td class="collapsing">
          {{fa-icon 'bank' class="icon"}} {{province.name}}
        </td>
        <td class="right aligned collapsing">
          {{link-to "Editar" "admin.provinces.edit" province class="ui button tiny"}}
          <a href="#" {{action "remove" province}} class="ui button tiny">Eliminar</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
{{else}}
  <div class="loading">
  
  </div>
{{/if}}


