	<div {{bind-attr class=":sidebar isShowMenu:show"}}>


		<div class="user">
			{{#link-to 'index'}}
				MGJ
			{{/link-to}}
			<h3 class="ui sub header">{{session.user.name}} {{session.user.lastName}}</h3>
			<i>{{session.user.email}}</i>
		</div>

		<div class="ui inverted vertical menu">
			
			{{#link-to 'index' class="item"}}
				{{fa-icon 'list' class="icon"}}
				Todos los informes
			{{/link-to}}
		</div>
		
	</div>

	<div class="main-menu">
		<div class="ui menu" style="margin: 0">
			<div class="item offcanvas">
				{{t-menu a="typo"  action="toggleMenu"}}
			</div>
		</div>
	</div>


	<div class="main-container">

		{{outlet}}

	</div>

