{{#if session.isAuthenticated}}
	
	<div {{bind-attr class=":sidebar isShowMenu:show"}}>
		<div class="user">
			{{#link-to 'index' class="logo"}}
				{{fa-icon 'weixin'}} {{session.user.name}}
			{{/link-to}} <br>
			<p class="sub"><b>{{session.user.email}}</b></p>
			{{#link-to 'admin.index' class="settings"}}
				{{fa-icon "cog" class="icon"}}
			{{/link-to}}
		</div>

		{{#perfect-scroll wheelSpeed=2}}
		<div class="ui inverted vertical menu">
			{{#link-to 'reports.index' class="item"}}
				{{fa-icon "file" class="icon"}}
				Listado de Informes
			{{/link-to}}
			{{#each report in model}}
				{{#link-to 'questions' report.id class="item"}}
					{{fa-icon 'file-o' class="icon"}}Informe N°{{report.title}}
				{{/link-to}}
			{{/each}}
			<a {{ action 'invalidateSession' }} class="item bottom blue active">
					{{fa-icon "sign-out" class="icon"}}
				Cerrar sesión
				</a>
		</div>
		{{/perfect-scroll}}
	</div>

	<div class="main-menu">
		<div class="ui menu" style="margin: 0">
			<div class="item offcanvas">
				{{t-menu a="typo"  action="toggleMenu"}}
			</div>
		</div>
	</div>
	<div class="main-container">
		{{outlet}}
	</div>
{{else}}
	<div class="login">
		{{outlet}}
	</div>
{{/if}}

