<section>

  <h2 class="ui dividing header -flex">
    Todos los informes
    <div class="actions">{{link-to "Crear Informe" "reports.new" classNames="ui orange button tiny" }}</div>
  </h2>

  <div class="section-content home ui segment tall stacked">
  <div class="ui divided items ">
  {{#each report in model}}
      <div class="item">
        <div class="content">
           <div class="header">
             

            Informe N°{{report.title}}
           </div>
          <div class="meta">
            
             <span> {{fa-icon 'clock-o' class="icon"}} <i>{{time-ago-in-words report.startDate}}</i></span>
          </div>
          <div class="actions">
             {{#if report.published}}
              <div class="ui blue label medium ">Publicado</div>
            {{else}}
              <div class="ui label medium ">Sin publicar</div>
            {{/if}}
            <div class="ui label medium ">Cámara de {{report.camera.name}}</div>
            
          </div>
          <div class="extra">
            {{#link-to "reports.edit" report.id classNames="ui icon button circular inverted small green" title="Editar"}}
               <i class="write icon"></i>
            {{/link-to}}
            <div class="ui icon button circular inverted small red" title="Eliminar" {{action "remove" report}}>
              <i class="trash icon"></i>
            </div>
          </div>
        </div>
      </div>
       {{/each}}
      </div>
      </div>

</section>
